<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Clocker 2 by tbouron</title>

    <link rel="stylesheet" href="./../stylesheets/styles.css">
    <link rel="stylesheet" href="./../stylesheets/github-light.css">
    <script src="./../javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">Clocker 2</h1>
        <p class="header">The Docker Cloud Maker</p>

        <ul>
          <li class="download"><a class="buttons" href="https://github.com/brooklyncentral/clocker2/zipball/master">Download ZIP</a></li>
          <li class="download"><a class="buttons" href="https://github.com/brooklyncentral/clocker2/tarball/master">Download TAR</a></li>
          <li><a class="buttons github" href="https://github.com/brooklyncentral/clocker2">View On GitHub</a></li>
        </ul>

        <p class="header">This project is maintained by <a class="header name" href="https://twitter.com/grkvlt">@grkvlt</a> and <a class="header name" href="https://twitter.com/turlinux">@turlinux</a> with support from <a class="header name" href="https://twitter.com/cloudsoft">@cloudsoft</a></p>
      </header>
      <section>

        {{ content }}

      </section>
    <footer>
      <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a></small></p>
      <p><small>Proudly sponsored by <img style="width: 100px; padding-left: 5px;" src="./../images/cloudsoft-white.png"></small></p>
    </footer>
  </div>
  <!--[if !IE]><script>fixScale(document);</script><![endif]-->

</body>
</html>
